/*Font*/
@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Vars*/
:root {
    --main-color: #b00b69;
    --bg-dark: #2f2f3d;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900: #000;
    --black-400: #555;
    --black-100: #f7f7f7;
    --black-000: #fff;
    --black-alpha-100: rgba(0,0,0,0.05);
}

* {
    margin: 0;
    padding: 0;
}

/*Body & main settings(?)*/
body {
    font-family: "B612", sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #fff;
    line-height: 1.5;
}

body.dark-mode {
    background-color: var(--bg-dark);
    --black-100: var(--bg-dark);
    --black-000: var(--bg-dark);
    --main-to-dark-color: var(--bg-dark);
    --dark-to-main-color: var(--main-color);
    --shadow-black-100: var(--shadow-black-300);
    --black-alpha-100: rgba(255,255,255,0.05);
    --black-900: #fff;
    --black-400: #bbb;
}
main {
    padding: 40px 80px;
    display: felx;
    justify-content: center;
}

/*Intro*/
.article > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    gap: 16px;
}
header.page-header * {
    align-items: center;
}
.profile-avatar {
    width: 92px;
    height: 92px;
    border-radius: 10px;
    background-color: var(--black-400);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: visible;
}

.profile-avatar {
    background-image: url("/assets/pfp.jpg");
    background-position: 0% 15%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 0;
}